<%= form_for(@sport_facility) do |f| %>
  <% if @sport_facility.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sport_facility.errors.count, "error") %> prohibited this sport_facility from being saved:</h2>

      <ul>
      <% @sport_facility.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :imagePath %><br />
    <%= f.text_field :imagePath %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :plz %><br />
    <%= f.number_field :plz %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :openingHours %><br />
    <%= f.text_area :openingHours %>
  </div>
  <div class="field">
    <%= f.label :sportTypes %><br />
    <%= f.text_area :sportTypes %>
  </div>
  <div class="field">
    <%= f.label :events %><br />
    <%= f.text_area :events %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
